.user-timedoff-tips {
  margin-bottom: 20px;
  padding: 30px;
}
.user-timedoff-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 30px;
}
.user-timedoff-item-name {
  flex: 1;
}
