page {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 28px;
  line-height: 1.2;
}
.hidden {
  display: none!important;
}
.border-top {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  border-top: 1PX solid #d6e4ef;
  }
}
.border-bottom {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  border-bottom: 1PX solid #d6e4ef;
  }
}
.icon-size {
  font-size: 40px;
}
.secondary-color {
  color: #999;
}
.secondary-title {
  color: #999;
  font-size: 24px;
}
.active:active {
  background: #eee;
}
.line-clamp-1 {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-clamp-2 {
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
}
.align-center {
  text-align: center;
}
.inner-padding {
  padding: 30px;
}
.top-margin {
  margin-top: 30px;
}


// 标题栏公共样式
.cn-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
}
.cn-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}
